---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="container mt-4">
  {% set maxPosts = collections.posts.length | min(3) %}
  <h2>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

  <p class="mt-4">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

  {% set maxExamples = collections.examples.length | min(3) %}
  <h2>Latest {% if maxExamples == 1 %}JavaScript Session{% else %}{{ maxExamples }} JavaScript Sessions{% endif %}</h2>

  {% set exampleslist = collections.examples | head(-3) %}
  {% set exampleslistCounter = collections.examples | length %}
  {% include "exampleslist.njk" %}

  <p class="mt-4">More sessions can be found in <a href="{{ '/portfolio/' | url }}">JavaScript</a>.</p>
  
</div>
